.ui.menu {
    font-size: 1.5rem;
}


.home-container> .ui.segment, .ui.segments .segment {
    font-size: 2rem;
    padding: 10% 5%; 
    background:transparent;
}

.home-container h1 {
    min-height: 1rem;
    font-size: 4rem;
    color:orangered;
    letter-spacing: 0.2rem;
}
.home-container h2 {
    min-height: 1rem;
    font-size: 2rem;
    color:rgb(236, 236, 235);
    letter-spacing: 0.3rem;
}

.home-container h3 {
    font-size: 1.28571429rem;
    margin-top: 0;
    color:rgb(202, 198, 198);
    letter-spacing: 0.1rem;
}

.user-container> .ui.segment, .ui.segments .segment {
    padding: 15%; 
}


.user-container h3{
    font-size: 2rem;
    color:rgb(128, 128, 126);
}

.ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=text] {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    border-radius: 50px;
}


.user-container> .ui.segment,{
    background-color:red;
}

.actions> .ui.button {
    margin-top:1rem;
}

p:first-child {
    font-size: 0.8rem;
}